[2015-03-21 09:10] calmh opened #1 "Needs a license"
As with the torrent package, this needs a license if it's to be usable by anyone else. :)

[2015-03-22 13:10] anacrolix commented on #1
Thanks. I'll choose a license shortly.

[2015-03-25 06:36] #1 closed

[2015-07-27 06:35] jbenet opened #2 "spec question"
the readme says:

Could you please note somewhere which things you're talking about specifically? That way we can make sure to watch out for them. (I've found many bugs in transport protocol implementations, and usually notes like these helped find them).

---

By the way, uTP _should_ be [LEDBAT (RFC 6817)](https://tools.ietf.org/html/rfc6817), so it _should be_ well specced out. Wikipedia notes:

[2015-07-27 11:36] #2 closed

[2015-09-07 00:59] guymguym opened #3 "throughput is 5 MB/s on loopback"
Hi

I tested with go 1.5 on Mac Air:

[code]

This is compared to native build of ucat from https://github.com/bittorrent/libutp:

[code]

That's a big drop..
Cheers

[2015-09-07 01:29] anacrolix commented on #3
There are some justifications in the README. Working over localhost on my MBP, using the provided pingpong utility (which I'll update in a sec), I get the following performance:

utp->libutp 20.7MiB/s
libutp->utp 13.7MiB/s
libutp->libutp 32.1MiB/s
utp->utp 6.93MiB/s

For a 348MiB file.

I think there's some improvements that can be made to receiving, it seems to take a few seconds to accept. Also

[2015-09-24 11:21] anacrolix commented on #3
There was some congestion in Socket.dispatcher, which I've rewritten. It seems to have improved speeds a bit.

Where other_ucat is libutp's ucat, and before changes on the left, and after on the right:

utp->other_ucat
[20.4MiB/s] [20.8MiB/s]
other_ucat->utp
[14.5MiB/s] [18.4MiB/s]
libutp->libutp
[30.7MiB/s] [31.1MiB/s]
utp->utp
[7.22MiB/s] [  11MiB/s]

[2015-10-02 08:55] anacrolix commented on #3
With some ricing of constants it's now
utp->other_ucat
[39.6MiB/s]
other_ucat->utp
[18.8MiB/s]
libutp->libutp
[29.7MiB/s]
utp->utp
2015/10/02 18:52:50 w
[22.6MiB/s]

For utp->utp that's nearly 4x the speed I got with the revision this issue was reported.

[2015-10-02 09:19] jbenet commented on #3
:+1: nice progress!. i've formatted the table better:

| direction | 1              | 2                | 3              |
| ----------|----------------|----------------|---------------|
| go->lib | 20.7 MiB/s | 20.8 MiB/s | 39.6 MiB/s |
| lib->go | 13.7 MiB/s | 18.4 MiB/s | 18.8 MiB/s |
| lib->lib | 32.1 MiB/s | 31.1 MiB/s | 29.7 MiB/s |
| go->go | 6.93 MiB/s | 11 MiB/s | 22.6 MiB/s |

curious tha

[2015-10-02 09:24] anacrolix commented on #3
Thanks for that. I expect it has to do with only selectively acking the next 64 inbound packets, or something I'm feeding libutp in my outbound headers that it doesn't like. Interestingly, lib->go is actually the most important metric for the torrent use case as it represents inbound throughput, though it's a non-issue as that's ~18-19MiB *per peer*. If you have any feedback from your project @jbe

[2015-10-02 09:44] jbenet commented on #3
@anacrolix we haven't deployed it cause we were waiting for this throughput fix. I think 19MiB _per peer_ is good enough to try. we'll ship it and report back results. if you'd like to have any metrics, we can see about adding them. [go-ipfs](https://github.com/ipfs/go-ipfs/) can output both custom event logs and prometheus logs.

cc @whyrusleeping

[2015-10-02 09:45] jbenet commented on #3
Also, @anacrolix i've been meaning to setup some benchmarks to check out throughput of various transports (uTP, UDT, SCTP, QUIC, ...) on various kinds of network setups. would be interesting to have a great bandwidth benchmark for transports using real networks to test them. if you're interested in this, we will be adapting golang/build to help us run these.

[2015-10-04 02:22] whyrusleeping opened #4 "listener sockets closed when accepted connections close"
If i create a socket for accepting new connections on, I want to keep that open even if all the connections that have been made to me get closed, That expectation is violated by this line: https://github.com/anacrolix/utp/blob/master/utp.go#L1252

I think that line only needs to be executed if the connections drop to zero AND the socket was created through a 'dial' (or even then probably not). Its

[2015-10-04 02:28] jbenet commented on #4
Yes, I think it should remain open until Close is called. Perhaps there could be a `CloseAfterConns` which will cause Close to happen after the last connection closes.

[2015-10-04 03:02] anacrolix commented on #4
Sounds like an oversight on my part. Overzealous refactoring. I'll address it in a few hours.

[2015-10-04 04:47] anacrolix commented on #4
Fixed by 5341f3c935837fd4351011fefd73f703d865380e

[2015-10-04 04:47] #4 closed

[2015-10-04 08:53] anacrolix commented on #3
Performance now:

| direction | 1              | 2                | 3              |4|
| ----------|----------------|----------------|---------------|--------------|
| go->lib | 20.7 MiB/s | 20.8 MiB/s | 39.6 MiB/s |38.6MiB/s|
| lib->go | 13.7 MiB/s | 18.4 MiB/s | 18.8 MiB/s |27.3MiB/s|
| lib->lib | 32.1 MiB/s | 31.1 MiB/s | 29.7 MiB/s |28.9MiB/s|
| go->go | 6.93 MiB/s | 11 MiB/s | 22.6 MiB/s |39.

[2015-10-04 08:53] #3 closed

[2015-10-04 09:10] jbenet commented on #3
:clap: :clap: :clap: great work @anacrolix ! we're deploying this un go-ipfs `0.3.8`. will keep you posted.

[2015-10-04 11:25] AudriusButkevicius commented on #3
Hey,

One question. Has this seen any production use?
I mean lossy high latency networks etc?

Thanks.

[2015-10-04 11:29] AudriusButkevicius opened #5 "Ability to pass in a net.UDPConn"
So that we could do the STUN dance or whatever is required before wrapping it in UTP.
Similarly how you can wrap and unwrap a TCP connection with tls.Server or tls.Client.

[2015-10-04 11:38] jbenet commented on #5
Yes, this is pretty important. i'd imagine an interface like:
[code]

[2015-10-04 16:30] guymguym commented on #3
@anacrolix did you get only ~30 MB/s with ucat->ucat over loopback? I get almost 90 MB/s ...

[2015-10-04 19:07] whyrusleeping commented on #3
@anacrolix Thanks for the great work so far! I've started the integration of utp into ipfs here: https://github.com/ipfs/go-ipfs/pull/1789

It works moderately well. although we've seen a few random halts which arent necessarily caused by utp,  theres a chance it is.  I can continue to post updates here or elsewhere if you'd like, and I'll be sure to file issues for anything I find.

[2015-10-05 00:59] anacrolix commented on #5
Does the STUN dance take a net.PacketConn? You could create the utp.Socket, and pass it as a net.PacketConn to your STUN code. Not that I'm averse to creating a constructor that takes a net.PacketConn, but this has the advantage of threshing the net.PacketConn emulation in Socket. (Which is well tested in by my DHT/uTP combined usage in package torrent, but it's always good to try new use cases).

[2015-10-05 01:05] anacrolix commented on #3
@AudriusButkevicius : The packet is used in production 24/7 by an application using package torrent.

@whyrusleeping : If you get any more information about the stalls with package utp, please report an issue.

[2015-10-05 01:23] jbenet commented on #5
@anacrolix no, most of these libs use sockets created by c++ libs. we usually have no way of creating them and passing them in. this is not just an interface problem, it is also because lots of nat libs will open many ports while trying to find one that works.

[2015-10-05 02:06] anacrolix commented on #5
No problem. I'll add this in the next day or two, unless you want to make a pull request. It's very straightforward to adapt NewSocket to call your new function, and do most of the work in there instead.

[2015-10-06 04:25] #5 closed

[2016-03-14 16:44] whyrusleeping opened #7 "panic in jitter"
Found a panic thrown in utp: https://gist.githubusercontent.com/dignifiedquire/33c5e9b5af4305491e37/raw/7c0c8731916bf8b21f723a8c1a32c2e1276bb993/fail.log

[2016-03-14 20:09] anacrolix commented on #7
Thanks, I'll follow it up.

[2016-03-15 02:46] anacrolix commented on #7
Are you trying your IPFS across localhost? This panic is caused when the latency in utp is determined to be 0. I never considered that that could happen, it seems incredibly unlikely. Unless maybe you have tests that can route packets without going through the kernel or something.

I'm going to move jitter into missinggo, and patch it up both in the JitterDuration and UTP codebases.

[2016-03-15 10:36] anacrolix commented on #7
It's done. I am guessing your system time was set backwards, so that time.Now() and a later time.Now() decreased in value.

[2016-03-15 10:36] #7 closed

[2016-03-15 18:57] whyrusleeping commented on #7
@anacrolix i don't know if that can happen. This was on a users computer (likely a macbook).

Thanks for the fix!

[2016-03-29 14:43] whyrusleeping opened #8 "Dial leaks file descriptors"
calling `Dial` opens a new socket, then calls dial on that socket. closing the returned connection doesnt appear to close the opened socket, leading to a file descriptor leak.

[2016-03-29 14:53] anacrolix commented on #8
Hm good catch, I never use that part of the code. The logic behind Socket has changed a lot since that function was first written. Now the underlying "real" file descriptor should not be closed until all the uTP connections hanging from it (utp.Conn) are also closed and finalized. It should be sufficient to close the Socket as soon as a Conn is created by dialing on it.

[2016-03-29 14:58] whyrusleeping commented on #8
@anacrolix so even though we call `Close` on the socket, it wont actually close until the `Conn` gets closed?

[2016-03-29 14:59] anacrolix commented on #8
That's how it currently works. Of course if you use Dial() or DialTimeout() without your own Socket, one is made for you, and it appears that is never closed. I'm constructing a test for it now.

[2016-03-29 16:20] anacrolix commented on #8
Well that was a deep rabbit hole. Please let me know if the commits I made address your problem. In particular ca69c553ddfe8406a28819ec0cb1fc198ea14628 fixes this, and the others fix a bunch of related stuff.

[2016-03-29 16:22] whyrusleeping commented on #8
Thank you so much! I should have that integrated into go-ipfs by the end of the day. I'll test it out and let you know

[2016-03-30 02:25] #8 closed

[2016-04-12 15:48] whyrusleeping opened #9 "memory usage a bit high"
I'm having some of my ipfs nodes die of OOM, and looking at the heap profile I see that utp was using 100MB (of my machines 256MB of RAM). It all appears to have been allocated by the `sendBufferPool`'s allocation function. That seems a bit much, and i'm sure some of this is user error on my part. Any ideas how to debug the issue?

[2016-04-12 16:15] whyrusleeping commented on #9
I have the memory profile, cpu profile, and stack dump from a recent out of memory panic, if you want to look at that for any debugging stuff.

[2016-04-12 17:47] anacrolix commented on #9
Please send that along. There's a status function that you can use to determine what the state of the utp  package is, https://godoc.org/github.com/anacrolix/utp#WriteStatus. If you have a running instance that has strange memory use, get the output of that (I chain it up to a status HTTP server that runs on on demand on localhost using github.com/anacrolix/envpprof), and send that too.

Assuming

[2016-04-14 17:48] whyrusleeping commented on #9
all the pprof files are here: http://mars.i.ipfs.io:8080/ipfs/QmVdkYjq2P9j7Ubr6DGP1Bt3bHFc3Mto84Lkkrwu7rmP4e

I'll work on getting the WriteStatus output soon.

[2016-04-18 11:55] anacrolix commented on #9
I didn't grab those files while they were available. What's required to obtain them now?

[2016-04-18 16:48] whyrusleeping commented on #9
@anacrolix try again, maybe hosting the files on the machine that was having the issues i filed this issue for wasnt the best idea >.>

[2016-04-18 16:57] anacrolix commented on #9
Okay, got them, thanks.

[2016-04-24 10:41] AudriusButkevicius opened #10 "Setting deadlines on a connection panics"
I guess this relies on the socket having had at least a single connection?

[code]

[code]

[2016-04-24 11:18] anacrolix commented on #10
No it's just some lost behaviour during an earlier cleanup of mutexes and conditions. Thanks for the catch. I've added a test and tidied it up.

[2016-04-24 11:18] #10 closed

[2016-04-26 21:40] AudriusButkevicius commented on #5
FWIW this now works very nicely with https://github.com/ccding/go-stun

[2016-04-27 02:15] anacrolix commented on #5
That's great to hear, thanks.

[2016-04-27 17:22] whyrusleeping opened #11 "Conn `Addr` methods return udp"
I'm not sure if this is actually an issue, but the `LocalAddr` and `RemoteAddr` methods on a Conn return an address whose network identifies as udp. I think these should return utp{4,6} instead, as its more accurate.

I currently wrap the utp conn from your package to change this functionality, but if you could add it upstream that would be very helpful.

[2016-04-29 05:41] anacrolix commented on #11
Will fix.

[2016-04-29 10:47] anacrolix commented on #11
Do you need to be able to identify the type of net.Addr that's returned from these methods?

[2016-04-29 10:50] #11 closed

[2016-04-29 10:54] anacrolix commented on #11
The net.Addr returned by LocalAddr and RemoteAddr, both have .Network() of type "utp/"+underlying PacketConn network. The String/Addr part is passthrough, which matches the way uTP operates.

[2016-05-26 22:24] AudriusButkevicius opened #13 "Starts stalling under load"
Using this benchmark:

[code]

I get the following:

[code]

If you tweak the numbers a bit, you might get it to 0.2MB/s

I did manage to get it to a point where it just mostly never completes and fails with "connection closed", but that was using syncthings protocol wrappers which do async read/writes. In cases where it did complete it was around 0.3MB/s

[2016-05-27 03:05] anacrolix commented on #13
Is this a new trend, or has this benchmark been used on eagle earlier revisions of uTP? This looks like a useful benchmark, I'll do some work with it.

[2016-05-27 04:44] anacrolix commented on #13
I've done some investigating. I've found similar issues with these kinds of tests before. Essentially people forget that UDP is not guaranteed delivery, even over localhost. After reaching a certain level of UDP packet throughput (10k/s roughly on mac?), packets start getting dropped for long periods of time. I've added the "inproc" test, which bypasses UDP and gives you a more theoretical limit t

[2016-05-27 06:15] AudriusButkevicius commented on #13
So under normal circumstances and a real world scenario it seems to do just fine. I added this synthetic brnchmark as we have it for tcp. I haven't tested it previous revisions, just head, so I can't claim that it's a regression. I guess I'll add sleep to the benchmarks and see if I can get it to show more realistic numbers, but I wonder if the package should handle situations like these, give tcp

[2016-05-27 06:35] anacrolix commented on #13
This is what I get on my machine:
[code]

[2016-05-27 18:21] AudriusButkevicius commented on #13
So even if I add a 10ms delay between each iteration of the benchmark, I still get a splew of ```2016/05/27 19:18:27 error resending packet: write udp [::]:60754->127.0.0.1:60753: use of closed network connection``` and the rate is still fairly horrid, nowhere close the 56MB you get over a pipe pair.

[2016-05-27 18:30] AudriusButkevicius commented on #13
I agree that the implementation is capable of achieving 56mb under ideal lossless conditions, but it seems that it really struggles when where is some packet loss?

[2016-05-27 22:22] AudriusButkevicius opened #14 "Setting deadlines on sockets does not work"
[code]

blocks forever.

[2016-05-28 04:41] anacrolix commented on #13
Open to improvements!

[2016-05-28 06:21] anacrolix commented on #13
I concur, it should be faster. What command are you running when you get those log messages?

[2016-05-28 10:13] AudriusButkevicius commented on #13
I am running the same command as you are in your example, yet I am on Windows, so perhaps the semantics are different.

To be honest, I am struggling to repro this now.

I've dug deeper into this, and usually the stalling happens when we need to recv the 128kb buffer, but it properly dies when we get `timed out waiting for ack`

[2016-05-28 11:24] #14 closed

[2016-05-28 11:36] anacrolix commented on #13
Hm that's interesting. The network stack does perform very differently between platforms when you push it. If you get timed out waiting for ack, that's utp.Conn giving up completely. You shouldn't see this in tests unless your system isn't coping. I suspect in your syncthing tests, this is when so many retries have happened, and still not got through that it times out. The other log message, use o

[2016-05-28 11:53] AudriusButkevicius commented on #13
So I think that pushing it is an overstatement, given it barely reaches 1MB/s. Also number of Write() calls that we produce is in the hundreds over 10s benchmark, so I don't think we're hitting a 10k packets a second problem here eather (unless it's mostly UTP overhead)

I guess the other thing I could do is "record" the payloads I am sending, and at the point it hits the problem try replaying it

[2016-05-28 12:01] anacrolix commented on #13
utp breaks up your Conn.Write calls into chunks of no more than 1202 bytes each. Those have to be retransmitted on failure, and acknowledged at intervals by the receiver.

There are several very important variables in a const block at the top of utp.go. There's also testing timeouts set by setDefaultTestingDurations for going over localhost.

envpprof exposes status information over http on localh

[2016-05-29 04:35] anacrolix commented on #13
Well turns out the test was bad. I went to implement a purely UDP version to see if the UDP overhead is what was killing it. Then I discovered the reads and writes are synchronous, and mutually exclusive. I've fixed this, and here are the new benchmarks on my machine:

$ GOPPROF=http go test -bench Syncthing -run @ github.com/anacrolix/utp
2016/05/29 14:30:03 envpprof serving http://127.0.0.1:6061

[2016-05-29 09:33] AudriusButkevicius commented on #13
I am not sure I understand why would synchronous mutually exclusive reads and writes cause problems?

So I understand that you changed the test to fix this, but it's a bit of a mystery to me why the same code works with TCP

[2016-05-30 05:35] anacrolix commented on #13
Change your original test to use io.ReadFull in place of your Read calls. Read is returning early, and not all the bytes. It doesn't even need to be concurrently read and written. I've tried this per your originally provided test, and it also corrects the issue. I won't add it to my standard suite of tests, as it only coincidentally works due to sufficient window sizes.

[code]

The windows are re

[2016-05-30 05:39] anacrolix commented on #13
Here's the patch that fixes the synchronous version.

[14.txt](https://github.com/anacrolix/utp/files/288880/14.txt)

[2016-05-30 05:44] anacrolix commented on #9
I've since disabled, and just recently *reenabled* sendBufferPool. Did you notice anything in the interim(s)?

[2016-06-01 20:56] whyrusleeping commented on #13
Glad to see this got reported and fixed!! I've been noticing the same issue when stressing utp connections with ipfs

[2016-06-01 20:59] AudriusButkevicius commented on #13
It was a fix to the test not the code.
Sadly when actually trying to use it, it still stalls/disconnects with `timed out waiting for ack`

[2016-06-01 21:00] whyrusleeping commented on #13
@AudriusButkevicius ah, dang.

[2016-06-01 21:00] AudriusButkevicius commented on #13
So I know this library is used in the torrent library, so I'd assume that it has had some exposure and usage?

[2016-06-01 21:02] whyrusleeping commented on #13
Yeah, its pretty stable overall. In our usage though there are some occasional misbehaviours that i havent been able to track down too closely yet. I'll update our code to use the latest version of this lib soon and stress things again

[2016-06-01 21:09] AudriusButkevicius commented on #13
So for me, on a fairly good line it's not bad, but over ADSL in some rural area, it disconnects quite fast.

[2016-06-01 21:16] whyrusleeping commented on #13
@AudriusButkevicius if you have some free time, do you think you could try reproducing those failures in a test? For ipfs i've done some work with docker nodes and `tc` to simulate slow and lossy networks. Most of my work towards that is [here](https://github.com/whyrusleeping/testnet-utils/blob/master/ctrlnet) and [here](https://github.com/whyrusleeping/go-ctrlnet/blob/master/ctrlnet.go). Having

[2016-06-02 03:46] whyrusleeping commented on #9
@anacrolix i havent paid super close attention lately. I'll update and try it out again soon and let you know how it goes.

[2016-06-02 04:15] anacrolix commented on #13
This package is used in production 24/7 on linux/amd64, and gets a lot of testing on osx. There's another issue that's come to my attention when running utp on Windows. If you guys are getting these stalls on Windows, it's probably related, if not the actual problem. https://github.com/anacrolix/torrent/issues/83. I've pushed some workarounds to that in the meanwhile. d7ad5aff2b8a5fa415d1c1ed00b71

[2016-06-02 04:16] anacrolix commented on #13
This issue is about the stalls, not the broken test, I shouldn't have closed it.

[2016-06-15 19:10] whyrusleeping commented on #13
So, i'm still getting stalls on linux machines. Nothing is hanging, messages still appear to be coming in and processed by the utp read loop (no  `select 15 minutes` type messages in the stack dumps). But my code that is waiting to read on utp sockets is hanging for hours.

Here is an example (large) stack trace: https://ipfs.io/ipfs/QmSLTNdSNWSus9a83ToR2WRho9HeCMSTT7KTbEqx4vyqDo

The yamux reads

[2016-06-16 02:14] anacrolix commented on #13
If the remote end of the conn has closed without a FIN getting through, and you never attempt to send to them, you will never Read anything again. There's a timeout for writes, but no read keepalive. The easiest solution would be to ensure you have an application level keep alive in your protocol that is sitting on top of utp. This is how BitTorrent does it (2 mins), which would be why I've never

[2016-06-22 16:03] axet opened #15 "panic: listen udp :50007: bind: address already in use"
Not sure what is the reason you do not call SO_REUSEADDR or lazyDestroy() does the job but I unable to restart application. Especially It hurts on Android.

Can you make Socket.destroy() exported if it helps? Or how to wait until socket will be destoryed?

[2016-06-25 10:51] anacrolix commented on #15
The UDP socket is not truly closed until all Conns are closed. If the process is destroyed, that is sufficient. It may be that you need to alter your torrent.Client to use a dynamic port if you are running more than one Client on a single host.

[2016-06-25 11:14] axet commented on #15
I'm using one client, but I need to restart it. And when I Close/Create I'm getting this error.

[2016-06-25 13:59] stunndard commented on #13
I can confirm that UDP connections stall and after 3-5 minutes of launching torrent, it keeps downloading only using TCP. Almost nothing gets downloaded using UDP after some time. New UDP connections keep created and totally only a small amount of traffic get received (300-400kb) per UDP connection until the torrent is finished. TCP connections at the same time receive 10-50MB before the torrent i

[2016-06-26 01:45] anacrolix commented on #13
@stunndard Are you behind a NAT router for ADSL or some such?

[2016-06-26 01:48] anacrolix commented on #15
I should expose Destroy, that forces immediate closure of utp.Conn's bound to the Socket, and a Close of the underlying net.UDPConn. Feel free to make PR for something like this or I'll get around to it.

[2016-06-28 08:44] AudriusButkevicius commented on #13
Why does ADSL matter?

[2016-06-28 16:16] anacrolix commented on #13
ADSL implies less reliable connection, specifically packet loss, and likely use of NAT. Typical NAT routers aren't good with 100s of simultaneous connections, and UDP in particular due to unreliable rewriting of addresses. My production servers using uTP aren't behind any NAT so testing there may not be thorough. It's not uncommon for mainstream torrent clients to flat out fail to do uTP reliably

[2016-06-28 16:24] AudriusButkevicius commented on #13
Sorry, but I was under the impression that main point of UTP is to punch through nats, whatever the conditions.

I used torrents behind crappy ADSL nat, which I assume used UTP and never had an issue

[2016-06-28 16:51] anacrolix commented on #13
I only implement uTP because it's in major use for BitTorrent, and having it available increases the number of peers available. I don't think uTP is worth all the attention it gets. It's like the MongoDB of network protocols.

[2016-06-29 08:51] stunndard commented on #13
I'm behind my router NAT with the torrent port forwarded. However, there are no problems ever if I download with uTorrent, moreover, uTorrent downloads most of the data using uTP, and it is very fast. When monitoring uTorrent, I can see that the most of download connections are UDP (uTP), not TCP. But your torrent after 3-5 minutes stops using UDP at all and the rest is downloaded using TCP only.

[2016-07-11 05:04] anacrolix commented on #15
I don't see this behaviour on basic tests, even if I force reuse of the same port. What OS? Can you provide a test case?

[2016-07-11 05:21] axet commented on #15
Mac OSX, Android.

You have to have some active connections, so utp.Socket.Close() will return from lazyDestroy() on len(s.conns) != 0.

Easy to reproduce with your go.torrent client. Or create some code like this:

[code]

[2016-07-12 07:53] anacrolix commented on #15
@axet Yes but this is currently by intention. In your test code above, you've leaked the net.Conns returned from c.Dial, and s.Accept(). The current design is that the udp net.PacketConn won't be closed until both the Socket, and all its Conns are closed. If you could make a test case where this occurs, and yet the udp PacketConn isn't closed?

[2016-07-12 08:08] axet commented on #15
Current uTP socket implementation has side effect where you create object, close it and unable to create it again.

This test case leaking connections by purpose, since in real world you not able to control other side so connection can stay alive for some time.

Creating test case one one machine where you create and close all connections has no point. Because next  we have to create test case whe

[2016-07-12 10:26] anacrolix commented on #15
I created a test, where the remote socket abruptly disappears. After 15s (the send timeout for the FIN sent by the local Conn), the local Socket is destroyed, and the underlying PacketConn closed. Interestingly, even if I force the PacketConn to be closed right away, I can't listen successfully right away, I get `bind: address already in use`. Presumably the kernel has to flush any queued packets

[2016-07-12 10:51] axet commented on #15
This happens because golang works strange with sockets, It should add use SO_REUSEADDR.

This library works:

https://github.com/kavu/go_reuseport

[2016-07-12 10:52] AudriusButkevicius commented on #15
This is UDP, reuseaddr has no meaning in context of udp

[2016-07-12 14:37] anacrolix commented on #15
Well I've added a test, that should be adaptable to the desired behaviour for Close, or to test a new method like Destroy or something.

[2016-07-12 14:38] anacrolix commented on #15
Have you tried waiting 15-20s for your torrent.Client's UDP connection to be lazily destroyed and reclaimed by the OS? Does that work?

[2016-07-12 14:55] AudriusButkevicius commented on #15
Not sure what the thumbs down is for, reuseport for UDP is only useful for multicast subscriptions, allowing multiple processes to subscribe. It also has no effect for nornal UDP connections.

[2016-07-12 15:19] axet commented on #15
@AudriusButkevicius you were right. I have to read about UDP more. I expect this code will throw exception.

[code]

[2016-07-12 15:23] axet commented on #15
@anacrolix Last time I tried it failed, and I moved to automatic port ":0".

[2016-07-14 07:17] anacrolix commented on #15
There are 3 solutions here:

1. Set the default torrent.Client port to 0, so it's dynamically allocated. This has the downside that the client moves ports between restarts, so the swarms knowledge of its existence starts again from scratch.
2. Forcibly close the UDP socket that utp wraps. This doesn't guarantee that the OS will relinquish it immediately. It's also a behaviour change to the tests,

[2016-07-17 17:10] prettymuchbryce commented on #15
I have been running into this same issue. #2 sounds like the right solution to me. I think this method should attempt to block until the underlying socket has been closed by the OS.

After doing some experimenting locally (Darwin) it looks like Go won't actually call the `close()` syscall until all reads/writes on the socket have completed.

Example: https://gist.github.com/prettymuchbryce/ee7a74f

[2016-07-19 07:22] anacrolix commented on #15
A blocking CloseNow with the behaviour you described sounds ideal. A test that creates a Socket, then calls CloseNow and immediately tries to create a new Socket on the same address, similar to what is happening in your gist should also be included. If someone wants to do a PR for this, that would be great. I might not have time or the resources to do it myself for a week or two.

[2016-07-23 13:18] anacrolix commented on #15
I modified the package torrent client tests to reuse addresses and didn't run into the problem described by @axet. I think the tests just aren't putting enough load on the system. @axet Could you try with Socket.CloseNow, per https://github.com/anacrolix/utp/commit/59dfcf2995f0a175d717fe0b5b7c526771a0ad83 in your torrent code and see if that fixes your problem?

[2016-07-23 13:45] axet commented on #15
@anacrolix seems ok. working fine after close/create.

[2016-07-23 13:55] anacrolix commented on #15
Would that be

	if cl.utpSock != nil {
		cl.utpSock.CloseNow()
	}

in `Client.Close()` ?

[2016-07-23 14:16] axet commented on #15
@anacrolix  it works.

[2016-07-23 14:24] #15 closed

[2016-11-01 08:57] anacrolix commented on #13
I suspect UDP packets are being dropped due to your bandwidth being maxed out, and anacrolix/utp is not recovering too well. In particular, sending state packets after a period of not hearing from the peer will likely help here.

[2016-12-19 12:54] vtolstov opened #20 "net.Listener interface"
If i want to listen on utp packets, what i need to do?
As i see package does not have Listen method, so i need to listen udp specific port and use NewSocketFromPacketConn?
Does does it possible to create Listen method?

[2016-12-19 13:01] anacrolix commented on #20
All the NewSocket* functions either listen, or take an already listening Conn. NewSocket is the utp package's Listen. The reason for the differing type is that a Socket is both a net.Listener, and a net.PacketConn.

Perhaps I should clear this up by improving the doc.

[2016-12-19 22:57] vtolstov commented on #20
Thanks! But why not create Listen method, that run NewSocket and returns net.Listener interface?

[2016-12-20 00:18] anacrolix commented on #20
That seems like a good compromise. Make a PR if you wish.

[2016-12-20 10:05] vtolstov commented on #20
please check #21

[2016-12-20 10:11] vtolstov commented on #20
Also note, why you hardcoded udp in all places and not create ability to specify udp4, udp, udp6 ?

[2016-12-20 12:06] anacrolix commented on #20
I think because NewSocket is just a convenience, utp just wraps a net.PacketConn, so if you want full control, that's the way to go, with NewSocketFromPacketConn.

[2017-03-21 17:25] Emyrk opened #22 "Reasoning behind this panic"
I have been consistently hitting this panic in my application, and curious as to the reasoning of it, and how I may be triggering it?

https://github.com/anacrolix/utp/blob/master/socket.go#L484

The stack trace goes back to this call:

https://github.com/anacrolix/torrent/blob/master/client.go#L383

My application is handling tens of thousands of torrents, and it works very well, but eventually (

[2017-03-22 07:40] anacrolix commented on #22
Thanks for the report. Good to hear you're having luck with the client. Are you loading 10k+ torrents into a single Client? Could you estimate how many simultaneous UTP connections you have?

At a quick glance, I think this panic would occur if you received a SYN packet, that would result in a connection with a receive ID that matches the connection the initiator is trying to establish, but was in

[2017-03-22 16:38] Emyrk commented on #22
Currently the largest test I have loads up to 25k torrents into a single client (should I launch more than 1 client to handle this load?). The number I am at when I get the panic is anywhere from 14-25K. As for simultaneous UTP connections, I am unsure. Is there a way I could estimate that, or see the current number of connections?

My test network setup is a docker network over weave, and I contr

[2017-03-22 18:53] Emyrk commented on #22
As you suspected:
`log.Println(c.send_id, syn.conn_id)`
Produces:
`43150 43148`
[code]

[2017-03-26 11:15] anacrolix commented on #22
Thanks for the feedback. I'll write a unit test and a fix when I get time. In the meanwhile, you can just comment out that panic on your servers, it will behave correctly.

[2017-03-26 19:42] Emyrk commented on #22
Thanks!

[2017-04-10 12:15] #20 closed

[2017-04-10 12:16] anacrolix commented on #13
Is there any update on this?

[2017-04-10 12:16] anacrolix commented on #9
Is there any update on this?

[2017-04-11 08:45] AudriusButkevicius commented on #13
Well, I should take it for another spin, but as far as I tested previously it just chokes at some point and does not recover.

[2017-04-11 10:05] anacrolix commented on #13
That seems strange, I use it in production for months at a time with 100s of connections simultaneously. I would recommend you ensure you have Read and Write timeouts set.

[2017-04-11 10:32] AudriusButkevicius commented on #13
I guess my use was prior #83 in torrent package was addressed, so I should take it for another spin, yet the fact that there is no congestion control could be the cause of this.

[2017-05-30 13:31] eelcocramer opened #23 "Lots of duplicate packets are being send"
I am trying to hunt down an issue I have with the library where I notice that the uTP transfer does not back-off when there is TCP background traffic.

Tracing this issue I noticed that an extensive number of packets that are being resend. I noticed this was primary due to [this call to `resend`](https://github.com/anacrolix/utp/blob/master/conn.go#L322) which is caused by [this call to `ackSkippe

[2017-05-30 13:45] anacrolix commented on #23
Thanks, this is very detailed. I did not know Wireshark was aware of uTP that's helpful. If this implementation backs off in the presence of TCP in its current form, that would be coincidental, I've put no effort into ensuring that. I'll take a more detailed look at your findings tomorrow.

[2017-05-30 14:24] eelcocramer commented on #23
Thanks.

As an addition. I've noticed that the background traffic is less effected there are less out-of-order packets being buffered:

[code]

The lower the number is the better performance the background traffic has. The performance of the uTP transfer seems not to be effected. I have to investigate this further though.

[2017-05-31 08:42] eelcocramer commented on #23
I did some further investigation and added some counters to see how many packets are received and how many of those are duplicates.

I noticed that my hack in `applyAcks` does not seem to influence the number of duplicates packets at all. Of course the extension byte should be zero if there is no bitmask is present in the packets but it does not seem to cause resends (as I assumed before).

What d

[2017-05-31 18:48] eelcocramer commented on #23
Another update. I do not think that both hacks from the initial post fix the root cause of this problem. My current theory is that the initial sending of the packets is flooding the network and as a result maybe `acks` do not make it back to the sender or the `acks` coming in after the `resendTimeout`. I have another hack were I delay the initial sending the the packets based upon the `resendTimeo

[2017-06-01 03:42] anacrolix commented on #23
Fixing the extension bytes shouldn't affect resends at all. It should only potentially improve compatibility out there with other utp implementations. But it was helpful you spotted this, and I've fixed it.

The amount of resending should be directly affected by the timeouts and allowed unacked sends. However decreasing the allowed number of unacked sends will decrease throughput when there is hig

[2017-06-01 12:21] eelcocramer commented on #23
I concur with your guess. I add another post to this topic with some of my findings using the `time.Sleep(c.resendTimeout()) ` hack I mentioned before.

I'm currently testing UTP within a network emulator which emulates a small wifi network (maximum rate of 11Mbit/s) with 3 nodes in the network.

![screen shot 2017-06-01 at 11 21 02](https://cloud.githubusercontent.com/assets/795579/26679424/3b5b6

[2017-06-01 12:46] eelcocramer commented on #23
I've compared the current master with the `time.Sleep(c.resendTimeout())` hack I mentioned above and I get the following results.

I'm doing the following test in the 3 node network I mentioned above. The maximum data rate is 11Mbit/s.

Initially I tested how long it would take to transfer a 25MB file from node 3 to node 2 using secure copy (scp). This is my benchmark for `tcp` traffic without `ut

[2017-06-02 11:13] eelcocramer commented on #23
I've played around with the code trying to come up with a more elegant solution for the sleep hack. I pushed something to my fork of the repository that works very well in my configuration. It needs more testing and also the test cases currently seem to deadlock. With these changes I get transfer speeds that are near the speeds of the current master while it still backs off when there is backgroun

[2017-06-02 15:24] anacrolix commented on #23
I think my guess about your OS is probably right on. Your code has the effect of slowing down the number of sends avoiding large numbers of consecutive packets from being dropped. It does it by holding the package lock, which isn't ideal. I think a solution identifying either the true rate limit would be more effective.

[2017-06-02 18:55] eelcocramer commented on #23
I don't understand why the OS should be reason. Shouldn't the protocol be more gentle on the available resources (bandwidth, CPU)?

I agree that my changes are not ideal but the uTP spec says the following in the paragraph about congestion control:

I was under the assumption that `resendTimeout()` is calculating a timeout and which is used to limit the rate of the next packet. Couldn't that value

[2017-06-02 19:36] eelcocramer commented on #23
According these Syncthing bench there is plenty of room for improvement:

The current version gives me
[code]

My fork gives me
[code]

[2017-06-02 19:40] AudriusButkevicius commented on #23
Just a quick note. One of the reasons this is not used in syncthing is because it hogs everything that's available. We are trying to incorporate KCP but that has issues with getting stun to work with it.

[2017-06-07 07:59] eelcocramer commented on #23
Thanks. I'm seeing the same behaviour using this library with IPFS that my main reason for investigating this.

[2017-06-11 06:02] anacrolix commented on #23
Take a look at a new library I'm working on: https://github.com/anacrolix/go-libutp.

[2017-06-11 06:03] anacrolix commented on #13
Take a look at https://github.com/anacrolix/go-libutp.

[2017-06-11 06:03] anacrolix commented on #9
Take a look at https://github.com/anacrolix/go-libutp.

[2017-06-11 10:30] AudriusButkevicius commented on #13
This would kill our ability to support various exotic platforms due to cgo :(

[2017-06-12 18:13] eelcocramer commented on #23
Thanks. I noticed that repository last week. I will give it try.

[2017-06-12 18:19] AudriusButkevicius commented on #23
Bare in mind, if you require cross compiling this makes things very difficult.

[2017-08-21 17:56] rikonor opened #24 "Socket does not implement utpSocket (missing DialContext)"
Hey @anacrolix,

FYI when trying to use `anacrolix/torrent` with `cgo` disabled, the following error pops up:

[code]

[2017-08-26 03:33] anacrolix commented on #24
Thanks, I'll fix it correctly or I'll forget in the future.

[2017-08-26 16:11] anacrolix commented on #24
Le fixed.

[2017-08-26 16:11] #24 closed

[2017-08-27 01:36] anacrolix commented on #22
Oops, I think this was fixed in 78c7e0d498a014af3122363a7a00101efb60a0da.

[2017-08-27 01:36] #22 closed

[2017-09-10 00:29] mh-cbon commented on #13
I have tested to switch to go-libutp rather than utp, and its much better, its awesome :D

[2017-09-10 03:59] anacrolix commented on #13
Cheers, I've been using it without problems since https://github.com/anacrolix/go-libutp/commit/750705a0985ad096a4c24e0bc7f88928beb1a46e.

[2018-02-01 08:04] anacrolix commented on #9
Reopen if there's fresh information.

[2018-02-01 08:04] #9 closed

[2018-02-01 08:08] anacrolix opened #26 "Deprecated"
This repository currently deprecated in favour of https://github.com/anacrolix/go-libutp. Issues, PRs and comments are still accepted.

[2020-02-25 15:45] dearplain opened #28 "Does utp implements congestion control ?"
here: https://www.bittorrent.org/beps/bep_0029.html